[submodule "flash-attention"]
	path = flash-attention
	url = https://github.com/HazyResearch/flash-attention.git
[submodule "stripedhyena"]
	path = stripedhyena
	url = https://github.com/togethercomputer/stripedhyena.git
